.guitarPhoto{
    width: 400px;
    height: auto;
    border-radius: 33px;
    margin: 10px;
}
.interestsLeft{
    flex:45%;
    padding-top: 50px;
    padding-left: 2%;
    align-self: flex-start;
}

.interestsRight{
    flex:55%;
    padding-top: 50px;
}
